# Crypto related functions and helpers for Swift
github "iosdevzone/IDZSwiftCommonCrypto"

# We code in Asynchronous world. We promise. [http://promisekit.org/]
github "mxcl/PromiseKit" "swift-2.3-minimal-changes"

# JSON Parser
github "SwiftyJSON/SwiftyJSON"
