# Crypto related functions and helpers for Swift
github "krzyzanowskim/CryptoSwift" "0.5.2"

# We code in Asynchronous world. We promise. [http://promisekit.org/]
github "mxcl/PromiseKit" "3.5.0"

# JSON Parser
github "SwiftyJSON/SwiftyJSON"
