# Crypto related functions and helpers for Swift
github "krzyzanowskim/CryptoSwift" "0.6.1"

# We code in Asynchronous world. We promise. [http://promisekit.org/]
github "mxcl/PromiseKit" ~> 4.0

# JSON Parser
github "SwiftyJSON/SwiftyJSON"

# DFU code from Nordic
github "NordicSemiconductor/IOS-Pods-DFU-Library"
